<!-- FOOTER -->
<footer id="kontakt">
  <div class="footer-top">
    <div>
      <div class="footer-brand">rakuhn - by Ina Kuhn</div>
      <p class="footer-tagline">Liebevoll ausgewählte Babymode und Geburtsgeschenke – weil jeder Anfang besonders ist.</p>
    </div>

    <div>
      <div class="footer-heading">Info</div>
      <ul class="footer-links">
        <li><a href="#">Über uns</a></li>
        <li><a href="#">ABG</a></li> 
        Akzeptierte Zahlungsmethoden
        Paypal, Banküberweisung
        <li><a href="#">Versand & Rückgabe</a></li>
        Deutsche Post <br>
        DHL

        <li><a href="#">FAQ</a></li>
        <li><a href="#">Datenschutz</a></li>
      </ul>
    </div>

    <div>
      <div class="footer-heading">Kontakt</div>
      <ul class="footer-links">
        <li><a href="#">WhatsApp</a></li>
        +49 159 05 31 52 61
        <li><a href="#">Email</a></li>
        ina-kuhn@outlook.de
        <li><a href="#">Instagram</a></li>
        instagram.com/rakuhn.by.ina.kuhn
        <li><a href="#">Facebook</a></li>
        facebook.com/rakuhn.by.ina.kuhn
        <li><a href="#">Impressum</a></li>
        rakuhn by Ina Kuhn<br>
        Bunkyo-ku-Str. 35a<br>
        67663 Kaiserslautern <br>
        Telefon: +49 159 05 31 52 61 <br>
        Email: ina-kuhn@outlook.de
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <span>© 2025 rakuhn. Alle Rechte vorbehalten.</span>
    <span>Made with ❤️ für kleine Wunder</span>
  </div>
</footer>