<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or name }} | rakuhn</title>
  <meta name="description" content="{{ description or site.description }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta property="og:type" content="website">
  <meta property="og:locale" content="de_DE">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:title" content="{{ title or name }} | rakuhn">
  <meta property="og:description" content="{{ description or site.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}{{ site.ogImage }}">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="icon" href="/assets/img/logo/favicon-32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="/assets/img/logo/favicon-180.png">

  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  {% include "sections/header.njk" %}
  
  <main>
    {{ content | safe }}
  </main>

  {% include "sections/footer.njk" %}
  <script src="/assets/js/main.js"></script>
</body>
</html>