---
layout: layouts/base.njk
title: Babymode & Geburtsgeschenke
---

{% include "sections/hero.njk" %}

{% include "sections/about.njk" %}

{% include "sections/categories.njk" %}

{% include "sections/gifts.njk" %}

{% include "sections/testimonials.njk" %}

{% include "sections/contact.njk" %}